<%- include('partials/head')%>

    <%- include('partials/navbar') %>
  <h1>The Home Page <%=4 + 5 + 1 %> </h1>  
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Necessitatibus nemo repellat in, accusamus odit hic ut, 
    nam corrupti iure nulla quibusdam magni atque distinctio 
    debitis laboriosam repellendus omnis culpa! Ipsum!
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quam dolores omnis praesentium hic harum impedit similique 
        necessitatibus repudiandae? Est similique inventore ex beatae eos, 
        fuga natus quibusdam iusto unde quo.
    </p>
    <%- include('partials/footer') %>